@model Models.View_Models.Summary_Models.ProductSummaryViewModel

<div class="border border-black border-[2px] px-4 py-2">
    <div id="photo-section" class="flex justify-center items-center mr-[12px]">
        <div class="h-[40px] w-[40px] rounded-full border border-slate-400 bg-[rgb(34,193,195)] bg-[linear-gradient(0deg,_rgba(34,193,195,1)_0%,_rgba(253,187,45,1)_100%)]"></div>
    </div>
    <div id="info-section" class="flex flex-col items-center gap-[10px]">
        <div id="upper-subsection" class="flex justify-center items-center gap-[12px]">
            <div id="product-tag-name" class="px-2 py-1 rounded-lg bg-orange-300 text-center">
                @Model.ProductTagName
            </div>
            
            <button type="button" class="btn btn-link text-dark" data-toggle="modal" data-target="#modalCart">Details</button>

        </div>
        <div id="bottom-subsection" class="px-3 py-2 rounded-lg font-[20px] bg-gray-300 text-center">
            @Model.ProductName
        </div>
    </div>
    <div id="price-section" class="h-full w-full m-2 rounded-lg bg-gray-300 font-bold text-center tracking-wide">
        $@Model.ProductPrice
    </div>
</div>

<!-- Modal: modalCart -->
<div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Your cart</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">

                <partial name="/Views/Partials/Detailed Partials/_ProductDetailedPartial.cshtml"
                         model="@Model.ProductDetailedViewModel">

            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>