@page "/category/{showDeleted=false}"
@model DefaultWebApplication.Pages.Category.CategoryMainModel
@{
    Layout = "_Layout";
}

<a asp-page="categoryadd">Add New Category</a>

@if (Model.CategorySummaries.Count > 0)
{
    foreach (var category in Model.CategorySummaries)
    {
        <partial name="/Views/Partials/Summary Partials/_CategorySummaryPartial.cshtml" model="category" />
        @if (category.CategoryDeleted is false)
        {
            <a asp-page="categoryupdate" asp-route-id="@category.CategoryId">Update Category</a>
            <a asp-page="categorydelete" asp-route-id="@category.CategoryId">Delete Category</a>
        }
        else
        {
            <p class="text-red-600 text-[12px]">This entity is deleted.</p>
        }
    }
}